# Web Server
Flask==2.3.2
flask-cors==4.0.0
gunicorn==21.2.0

# Resume Parsing
spacy==3.7.2
nltk==3.8.1
PyPDF2==3.0.1
python-docx==0.8.11
python-dateutil==2.8.2

# Database
pymongo==4.6.1

# Configuration
python-dotenv==1.0.0

# spaCy model
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl


# Install the dependencies with
# pip install -r requirements.txt
# For the spaCy model, you might also need to run: python -m spacy download en_core_web_sm

